* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-weight: unset;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a {
    display: block;
}
a.button {
    font-size: 4vw;
    padding: 1.01vw 2.67vw;
    border-radius: 26.67vw;
}
h3.title {
    width: 100%;
    font-size: 4.45vw;
    line-height: 1;
    margin: 4.5vw 2.5vw;
}
h3.title:before {
    content: '';
    border: 0.27vw solid #d33a31;
    height: 4.45vw;
    position: absolute;
    left: 0;
}
header {
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vh 3vw;
    background: #d43c33;
}
header>.topsvg {
    width: 37.87vw;
    height: 6.67vw;
}
header>.button {
    color: white;
    border: 0.27vw solid #ccc;
}
.tabCt {
    display: -webkit-flex;
    justify-content: space-around;
    border-bottom: 0.27vw solid #ccc;
}
.tabCt>.tab {
    display: -webkit-flex;
    justify-content: center;
    width: 33%;
}
.tabCt>.tab>.button {
    color: black;
    padding: 2.4vw 1.6vw; 
}
.tabCt>.tab>.button.action {
    color: #d33a31;
    border-radius: 0;
    border-bottom: 0.53vw solid #d33a31;
}
.tujianMusic {
    display: -webkit-flex; 
    flex-wrap: wrap;   
    justify-content: space-between;
}
.tujianMusic>.coverList {
    margin-bottom: 5vw;
    width: 32.5%;
}
.tujianMusic>.coverList>.cover {
    width: 100%;
}
.tujianMusic>.coverList>.describe {
    font-size:3.47vw;
    padding: 1vw 1.5vw;
    line-height: 4.5vw;
    height: 8vw;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
