* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-weight: unset;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
html,body {
    overflow-x: hidden;
}
a {
    color: initial;
    display: block;
}
a.button {
    font-size: 4vw;
    padding: 1.01vw 2.67vw;
    border-radius: 26.67vw;
}
h3.title {
    width: 100%;
    font-size: 4.5vw;
    line-height: 1;
    margin: 4.5vw 2.5vw;
}
h3.title:before {
    content: '';
    border: 0.27vw solid #d33a31;
    height: 4.45vw;
    position: absolute;
    left: 0;
}
.loading {
    display: block;
    width: 10vw;
    margin: 10vw auto;
}
.loading.action {
    display: none;
}
header {
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vh 3vw;
    background: #d43c33;
}
header>.topsvg {
    width: 37.87vw;
    height: 6.67vw;
}
header>.button {
    color: white;
    border: 0.27vw solid #ccc;
}
.tabCt {
    display: -webkit-flex;
    justify-content: space-around;
    border-bottom: 0.27vw solid #ccc;
}
.tabCt>.tab {
    display: -webkit-flex;
    justify-content: center;
    width: 33%;
}
.tabCt>.tab>.button {
    color: black;
    padding: 2.4vw 1.6vw; 
}
.tabCt>.tab>.button.action {
    color: #d33a31;
    border-radius: 0;
    border-bottom: 0.53vw solid #d33a31;
}
.tujianMusic {
    display: -webkit-flex; 
    flex-wrap: wrap;   
    justify-content: space-between;
}
.tujianMusic>.coverList {
    margin-bottom: 5vw;
    width: 32.5%;
}
.tujianMusic>.coverList .cover {
    width: 100%;
}
.tujianMusic>.coverList .describe {
    font-size:3.47vw;
    padding: 1vw 1.5vw;
    line-height: 4.5vw;
    height: 8vw;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.latestCt>.latest {
    position: relative;
    font-size: 4.5vw;
    padding: 1vw 2.77vw;
    border-bottom: 0.27vw solid #f1f1f2;
}
.latestCt>.latest .describe {
    display: -webkit-flex;
    align-items: center;
    margin-right: 15vw;
    line-height: 6vw;
    font-size: 3.2vw;
    color: #888;
}
.latestCt>.latest .describe>.SQ {
    display: block;
    margin-top: 0.5vw;
    width: 5vw;
    height: 2.5vw;
    background: url('../img/SQ.png') no-repeat;
    background-size: contain;
}
.latestCt>.latest .play {
    width: 6vw;
    height: 6vw;
    background: url('../img/start.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 3vw;
    top: 50%;
    transform: translateY(-50%);
}
footer {
    text-align: center;
    background: url('../img/index-bg.png') no-repeat;
    background-size: cover;
}
footer>.logosvg {
    width: 61.33vw;
    height: 11.74vw;
    margin-top: 18vw;
}
footer>.button {
    margin-top: 3.5vw;
    padding: 2.2vw 12vw;
    display: inline-block;
    border: 0.27vw solid #d33a31;
    color: #d33a31;
}
footer>.copyright {
    margin-top: 1.5vw;
    padding-bottom: 4vw;
    font-size: 3.2vw;
    color: #888;
    transform: scale(0.75)
}

