* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: #ccc;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
h3.title:before {
    content: '';
    border: 0.27vw solid #d33a31;
    height: 4.45vw;
    position: absolute;
    left: 0;
}
.loading {
    display: block;
    width: 10vw;
    margin: 10vw auto;
}
.loading.action {
    display: none;
}
#logo {
    position: absolute;
    margin: 3vw;
    width: 30vw;
    z-index: 1;
}
html,body {
    width: 100vw;
    height: 100vh;
    font-size: 4.26vw;
}
div.bgimg {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wrapper {
    position: relative;
    width: 100vw;
    display : -webkit-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.pointer {
    width: 25vw;
    position: absolute;
    left: 45.5vw;
    z-index: 1;
}
.pointer.pause {
    transform: rotate(-20deg);
    transform-origin: top;
    top: -4vw;
}
.discContainer {
    position: relative;
    margin-top: 20vw;
    /* display : -webkit-flex;
    justify-content: center;
    align-items: center;  */
}
.disc.pause {
    animation-Play-State: paused;
}
.disc {
    animation-Play-State: running;
    position: absolute;
    top: 50%;
    left: 50%;  
    animation: circle 20s infinite linear; 
}
.disc.pan,
.disc.underlying,
.disc.light {
    width: 69.86vw;
    height: 69.86vw;
}
.disc.pan,
.disc.light {
    margin-top: -34.93vw;
    margin-left: -34.93vw;
}
.disc.cover {
    border-radius: 50%;
    width: 46.93vw;
    height: 46.93vw;
    margin-top: -23.46vw;
    margin-left: -23.46vw;
}
.discContainer>.underlying {
    position: unset;
    opacity: 0;
}
.start.disc {
    width: 14.93vw;
    height: 14.93vw;
    margin-top: -7.47vw;
    margin-left: -7.47vw;
    background: url('../img/start.png') no-repeat;
    background-size: contain;
    animation: unset;
    display: none;
}
.start.disc.pause {
    display: block;
}
.main {
    margin-top: 10vw;
    width: 80vw;
    height: 50vw;
    text-align: center;
}
.songName {
    margin-bottom: 4vw;
    font-weight: unset;
    color: white;
}
.author {
    font-size: 4.26vw;
}
.lyricsWindow {
    overflow: hidden;
    height: 38.67vw
}
.lyricsCt {
    transform: translateY(-.1px);
    transition: all .3s;
}
.lyrics {
    line-height: 9.6vw;
}
.lyrics.action {
    color: white;
}
.loadMoreCt {
    width: 5vw;
    height: 4vw;
    margin-top: 4vw;
    overflow: hidden;
}
.loadMoreCt>.loadMore {
    width: 5vw;
    height: 16vw;
}
.otherLink {
    display : -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.otherLink>.otherplaylist,
.otherMusic {
    box-sizing: border-box;
    width: 100vw;
    padding: 2.66vw;
    color: white;
    font-size: 4.26vw;
    line-height: 1;
    font-weight: unset;
}
.otherLink>li {
    width: 31.5vw;
}
.otherLink>li img {
    width: 100%;
}
.otherMusicCt>li>h4,
.otherMusicCt>li>p,
.otherLink>li h5,
.otherLink>li p {
    font-weight: unset;
    padding: 0.53vw 1.33vw;
    color: white;
}
.otherMusicCt>li>h4 {
    font-size: 4vw;
}
.wrapper>.otherLink>li p {
    font-size: 3.2vw;
    color: #ccc;
}
.otherMusicCt {
    margin-top: 12vw;
}
.otherMusicCt>li {
    padding: 1.33vw 2.66vw;
    border-bottom: 1px solid rgb(114, 96, 73);
}
.otherMusicCt>li>img {
    width: 13vw;
    float: left;
}
.otherMusicCt>li>h4,
.otherMusicCt>li>p {
    margin-left: 15vw;
}
.otherMusicCt>li>p {
    font-size: 3.73vw;
    color: #ccc;
}
.otherMusicCt>li>.playOther {
    margin: 2.93vw 1.33vw;
    float: right;
    width: 6.5vw;
    height: 6.5vw;
    background: url('../img/start.png') no-repeat;
    background-size: contain;
}
.btnct {
    width: 100vw;
    padding: 1.6vw 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
footer {
    position: fixed;
    bottom: 0;
}
.btn {
    padding: 2.6vw 3.8vw;
    border-radius: 26.6vw;
    display: inline-block;
    width: 35vw;
    border: 1px solid #d33a31;
    font-size: 4.53vw;
    margin: 1.5vw;
}
.btn.open {
    color: #d33a31;
}
.btn.download {
    background: #d33a31;
    color: white;
}